<!DOCTYPE html>
<html>

<head>
<meta content="en-ca" http-equiv="Content-Language">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Untitled 1</title>
<link href="style_rev.css" rel="stylesheet" type="text/css">
<style type="text/css">
</style>
</head>

<body>
<div id="allPages">
	<div id="header">
		<img id="header-banner" alt="header-banner" src="../../wwwroot/images/headerbanner.jpg" width="287">
		<h3 id="title">Cook By Yourself</h3>
		<nav>
			<a href="">Home</a>|<a href="">All Recipes</a>|<a href="">Insert New Recipe</a>|<a href="">Detail of Recipe</a>|<a href="">Review</a>
		</nav>
	</div>
</div>

<div id="content">

</div>

<div id="footer">
	<nav>
		<a href="">Home</a>|<a href="">All Recipes</a>|<a href="">Insert New Recipe</a>|<a href="">Detail of Recipe</a>|<a href="">Review</a>

	</nav>
	<br><br>
	<p id="copyright">&copy;&nbsp;Copyright Jaehan Bae - Comp 229 – Web Application Development</p>
</div>
</body>

</html>
